@import 'tailwindcss';

body {
  font-family: 'Maple Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: oklch(0 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.554 0.135 66.442);
}

@layer base {
  * {
    @apply border-border focus-visible:ring-ring focus:outline-none focus-visible:ring-2;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
  hr {
    @apply border-2 border-dashed;
  }
}

@layer components {
  .bouncy {
    @apply transition-transform duration-50 hover:scale-x-90 hover:scale-y-105 focus-visible:scale-x-90 focus-visible:scale-y-105 active:scale-x-105 active:scale-y-90;
  }
  .prose p {
    @apply [&:not(:first-child)]:mt-6;
  }
  .section {
    @apply container mx-auto max-w-xl;
  }
}
