---

---

<footer>
  <div class="mx-auto flex max-w-xl justify-between">
    <aside class="text-muted-foreground">&copy; {new Date().getFullYear()}. thanks.</aside>
    <ul>
      <li>ass</li>
    </ul>
  </div>
</footer>
