---
import ThemeToggle from '@/components/layout/ThemeToggle.astro';
import { Button } from '@/components/starwind/button';

interface NavItem {
  href: string;
  label: string;
}

const navItems: NavItem[] = [
  { href: '/', label: 'home' },
  { href: '/games', label: 'games' },
  { href: '/about', label: 'about' },
  { href: '/blog', label: 'blog' },
];
---

<header class="sticky border-b border-dashed">
  <nav class="mx-auto flex max-w-xl justify-between">
    <Button href="/" variant="ghost">23 Centimetre Line</Button>
    <ul class="flex">
      {
        navItems.map((navItem) => (
          <li>
            <Button href={navItem.href} variant="ghost">
              {navItem.label}
            </Button>
          </li>
        ))
      }
      <li><ThemeToggle /></li>
    </ul>
  </nav>
</header>
