---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="section">
    <h1>23 Centimetre Line</h1>
  </section>
</Layout>
