---
import Layout from '@/layouts/Layout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>23 Centimetre Line</h1>
</Layout>
