---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/starwind/button";
---

<Layout>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <Button>Hello World</Button>
</Layout>
