---
import { Image } from 'astro:assets';
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/components/HeaderLink.astro';
import TapeImage from '@/assets/header-tape.png';
---

<header class="pt-6 pb-11 sticky top-0 bg-background">
  <nav class="container mx-auto max-w-xl flex justify-between">
    <a href="/" class="bouncy inline-block">{SITE_TITLE}</a>
    <div>
      <HeaderLink href="/games">games</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
    </div>
  </nav>
  <Image
    src={TapeImage}
    alt="a measuring tape extended to 23 centimeters"
    class="absolute left-0 right-0 mx-auto mt-2 pointer-events-none"
  />
</header>
