---
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/components/HeaderLink.astro';
---

<header class="py-6">
  <nav class="container mx-auto max-w-xl flex justify-between">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div>
      <HeaderLink href="/games">games</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
      <HeaderLink href="/blog">blog</HeaderLink>
    </div>
  </nav>
</header>
